<html>
    <head>
        <title>{{ company_name }} Employee: {{ item.name }}</title>
    </head>

    <body>
        Hi, I'm {{ item.name }}!<br>
        I'm reachable at 01234 / {{ item.telephone_number }}
        <hr>
        &copy; {{ company_name }}
    </body>
</html>
