<html>
    <head>
        <title>Welcome to {{ company_name }}!</title>
    </head>

    <body>
        Hi! <img src="logo.png" alt="Logo">
        <hr>
        &copy; {{ company_name }}
    </body>
</html>
